html{
    font-size: 20px;
}

body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, 'PingFang TC',BlinkMacSystemFont, 'Microsoft YaHei', 'Segoe UI', 'Roboto','Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: black;
    margin: 0;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}

/* 左側 My Website 樣式 */
.website-name {
    font-weight: bold;
    padding: 0px 20px;
}

/* 導航項目 */
.nav-item {
    margin-left: 5px;
    text-decoration: none; /*本來用 a href="#" 會有這個部分，挪去*/
    color: black;
    padding: 10px;
}

.nav-item:hover {
    text-decoration: underline;
}

header {
    background-color: lightblue; /* 设置背景颜色为深灰色 */
    color: Black; /* 设置文本颜色为白色 */
    padding: 20px; /* 添加内边距 */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

header h1{
    font-size: 2rem;
}

main {
    max-width: 1200px;
    background-color: gray;
    margin: 25px auto;
}

.smallbox {
    display: flex;
    flex-wrap: wrap;
    margin:0;
}

.smallboxcontainer {
    height: 50px;
    background-color: lightblue;
    display: flex;
    flex: 1 1 calc((100% - 60px)/3); /* 平分宽度 */
    align-items: center; /* 使得子元素 img 跟 text 都一樣*/
    justify-content: flex-start; /* 在 flexbox 中向左对齐 */
    margin: 0 10px 20px;
    box-sizing: border-box;
}

.smallboxcontainer img {
    width: 80px;
    height: 50px;
    object-fit: cover;
}

.smallboxcontainer .text {
    display:flex;
    padding-left: 10px; /* 添加左内边距，使文字离图片有一定距离 */
}

/*------------------開始處理bigbox-------------------*/

.bigbox{
    width:100%;
    display: flex; /* 當display: flex, 預設： flex-direction: row; */
    flex-wrap: wrap;
    margin:0;
    background-color: blue;
}

.bigboxcontainer {
    max-width: 100%;
    width:100%;
    height: 250px;
    display: flex;
    flex: 1 1 calc((100% - 60px)/3); /*該項元素的伸縮變化平分 */
    margin: 0 10px 20px;
    box-sizing: border-box;
    background-color: lightgreen;
    overflow: hidden;
    object-fit: cover;
}

.imggroup{
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /*height:100%; 雖然可以*避免overlay-text, overlay-star溢出，但可能會讓圖形變形*/
}

.imggroup.left{ /*有空格就是之後的子元素*/
    margin-right: 10px;
}

.imggroup.right{
    margin-left: 10px;
}

img {
    height: 250px;
    width: auto;
    max-width: 100%; 
    /*2024.04.03修改處 因為要讓圖aspect ratio固定，auto: width會加大範圍*/
    overflow: hidden; /*裁剪*/
    object-fit: cover; /*等比例縮放 */
}

.overlay-text {
    width:100%;
    position: absolute;
    background-color: rgba(205, 245, 170, 0.5); /* 可调整背景色及透明度 */
    color:black;
    padding: 10px; /* 添加一些内边距 */
    margin: 0; /* 确保标题与容器底部对齐 */
    font-size: 1rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.overlay-star {
    position: absolute;
    color: red; /* 设置星号的颜色 */
    font-size: 1.2rem; /* 设置星号的大小 */
    top: 5px;
    right: 5px;
}

.bigboxinner {
    height: 250px;
    background-color: lightgreen;
    display: flex;
    flex: 1 1 calc((100% - 20px)/2); /*該項元素的伸縮變化平分 */
    align-items: center; /* 使得子元素 img 跟 text 都一樣*/
    margin: 0 0 20px;
    box-sizing: border-box;
}

@media (min-width: 1201px) and (max-width: 1920px){
    main{
        max-width: 1200px;
    }
    .smallboxcontainer {
        height: 50;
        background-color: lightblue;
        flex: 1 1 calc((100% - 60px)/3); /* 平分宽度 */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 10px 20px;
        box-sizing: border-box;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    main{
        max-width: 90%;
    }
    .smallboxcontainer {
        height: 50;
        background-color: lightblue;
        flex: 1 1 calc((100% - 40px)/2); /* 平分宽度 */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 10px 20px;
        box-sizing: border-box;
    }
    .smallboxcontainer:nth-child(3) {
        flex: 1 1 100%; /* 第三个元素宽度为100%，独占一行 */
    }
}

@media (min-width: 361px) and (max-width: 600px){
    main{
        max-width: 90%;
    }
    .smallboxcontainer {
        height: 50;
        background-color: lightblue;
        flex: 1 1 100%; /* 平分宽度 */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 10px 20px;
        box-sizing: border-box;
    }
}