<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <!-- <link rel="stylesheet" href="{{static_css}}, 這樣的寫法，就要在main.py給static_css value"> -->
</head>
<body>
    <header>
        <div>失敗頁面</div>
    </header>
    <div class="container">
        <div class="title">{{message}}</div>
        <div><a href="{{ url_for('home') }}">返回首頁</a></div>
        <!-- 要注意：href= "{{ home_url }}" 這樣不行 -->
    </div>
</body>
</html>
