<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <!-- <link rel="stylesheet" href="{{static_css}}, 這樣的寫法，就要在main.py給static_css value"> -->
</head>
<body>
    <header>
        <div>歡迎光臨，這是會員頁</div>
    </header>
    <div class="container">
        <div class="title">{{name}}，<br>歡迎登入系統</div>
        <!-- 登出系統的連結 -->
        <div><a href="/signout">登出系統</a></div>
    </div>
    <!-- week6 增加的留言系統 -->
    <div class="container">
        <div class="title">快來留言吧</div>
        <form action="/createMessage" method="post">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="new_message">內容</label>
                <textarea id="new_message" name="new_message" rows="1" cols="30" required></textarea>
            </div>
            <button type="submit">送出</button>
        </form>
    </div>
    <!-- week6 新加的舊留言顯示 對應 main.py @app.get('/member')-->
    <div class="container">
        <ul>
            {% for msg in messages[::-1] %}
            <li><strong>{{ msg.name }} :</strong> {{ msg.message }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
